[package]
name = "key-derive"
version = "0.1.0"
edition = "2021"

[lints]
workspace = true

[lib]
proc-macro = true

[dependencies] 
quote = "1.0.36"
syn = "2.0.72" 
proc-macro2 = "1.0.86"
darling = "0.20.10"